In [1]:
#import all needed pacakges
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.linear_model import LogisticRegression

In [3]:
#import dataset 
dataset = pd.read_excel('a1_Dataset_10Percent.xlsx')

In [8]:
print(dataset.shape)

dataset.head()

(22223, 11)

,ID,DemAffl,DemAge,DemClusterGroup,DemGender,DemReg,DemTVReg,LoyalClass,LoyalSpend,LoyalTime,TargetBuy
0,17147654,5.0,NaN,NaN,NaN,NaN,NaN,Tin,0.01,5.0,0.0
1,8415498,15.0,NaN,NaN,M,NaN,NaN,Gold,8000.00,5.0,1.0
2,12107603,NaN,NaN,NaN,M,Midlands,East,Tin,0.01,NaN,1.0
3,14400995,8.0,28.0,NaN,F,NaN,NaN,Tin,0.01,NaN,1.0
4,28724674,14.0,67.0,NaN,NaN,NaN,NaN,Tin,0.01,7.0,0.0